/* ----------------------------------------------------
    Normalize    071C1F   0E292D
---------------------------------------------------- */
:root {
  --ltn__primary-color: #565656;
  --ltn__secondary-color: #e55472;
  --ltn__heading-color: #010101;
  --ltn__paragraph-color: #000000;
  --ltn__body-color: #666666;
  --ltn__primary-color-2: #041113;
  /* Darken */
  --ltn__primary-color-3: #133236;
  /* Lighten */
  --ltn__secondary-color-2: #e55472;
  /* Darken */
  --ltn__secondary-color-3: #e55472;
  /* Lighten */
  /* Google Fonts */
  --ltn__heading-font: "Montserrat", sans-serif;
  --ltn__paragraph-font: "Poppins", sans-serif;
  --ltn__body-font: "Montserrat", sans-serif;
  --ltn__google-font-3: "Lora", serif;
  /* Footer  */
  --ltn__color-1: #8cb2b2;
  --ltn__color-2: #acd2d8;
  --ltn__color-3: #a3bcc0;
  --ltn__color-4: #84a2a6;
  /* Gradient Colors */
  --gradient-color-1: linear-gradient(
    90deg,
    rgba(242, 139, 194, 1) 0%,
    rgba(216, 177, 242, 1) 50%
  );
  --gradient-color-2: linear-gradient(
    to top,
    rgba(7, 28, 31, 0) 0%,
    rgba(7, 28, 31, 1) 90%
  );
  --gradient-color-3: linear-gradient(
    to bottom,
    rgba(7, 28, 31, 0) 0%,
    rgba(7, 28, 31, 1) 90%
  );
  --gradient-color-4: linear-gradient(
    to top,
    rgba(242, 246, 247, 0) 0%,
    rgba(242, 246, 247, 1) 90%
  );
  /* Background Colors 1, 2, 3, 4, 5 */
  --section-bg-1: #f9f9f9;
  /* White */
  --section-bg-2: #071c1f;
  /* Black */
  --section-bg-5: #272829;
  /* Black */
  --section-bg-6: #fdfdfd;
  /* White */
  /* Border Colors */
  --border-color-1: #f0f0f0;
  /* White */
  --border-color-2: #1e2021;
  /* Black */
  --border-color-3: #576466;
  /* Black */
  --border-color-4: #eb6954;
  /* Red */
  --border-color-5: #bc3928;
  /* Red */
  --border-color-6: #103034;
  /* Black */
  --border-color-7: #d1dae0;
  /* White */
  --border-color-8: #f6f6f6;
  /* White */
  --border-color-9: #e4ecf2;
  /* White */
  --border-color-10: #ebeeee;
  /* White */
  --border-color-11: #ededed;
  /* White */
  --border-color-12: #e1e6ff;
  /* White */
  /* Box Shadow Colors */
  --ltn__box-shadow-1: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  --ltn__box-shadow-2: 0 0 4px rgba(0, 0, 0, 0.1);
  /* like border */
  --ltn__box-shadow-3: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  /* like border GGL */
  --ltn__box-shadow-4: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  --ltn__box-shadow-5: 0 8px 16px 0 rgba(93, 93, 93, 0.1);
  --ltn__box-shadow-6: 0 0 25px 2px rgba(93, 93, 93, 0.2);
  /* Common Colors */
  --black: #000000;
  --black-2: #434343;
  --black-3: #333333;
  --black-4: #4f4f4f;
  --black-5: #888888;
  --black-6: #3b3c3d;
  --black-7: #424242;
  --black-8: #717171;
  --black-9: #b4b4b4;
  --white: #fff;
  --white-2: #f2f6f7;
  --white-3: #e8edee;
  --white-4: #e6ecf0;
  --white-5: #f0f4f7;
  --white-6: #f1f1f1;
  --white-7: #f7f7f7;
  --white-8: #fafafa;
  --white-9: #f2f7fa;
  --white-10: #999999;
  --white-11: #fdfdfd;
  --white-12: #e2e1e1;
  --white-13: #f0f0f0;
  --white-14: #dfdfdf;
  --white-15: #a9a9a9;
  --white-16: #ececec;
  --white-17: #f4f7fc;
  --white-18: #e1e1e1;
  --red: #ff0000;
  --red-2: #f34f3f;
  --red-3: #db483b;
  --silver: #c0c0c0;
  --gray: #808080;
  --maroon: #800000;
  --yellow: #ffff00;
  --olive: #808000;
  --lime: #00ff00;
  --green: #008000;
  --green-2: #9ac45c;
  --aqua: #00ffff;
  --teal: #008080;
  --blue: #0000ff;
  --blue-2: #6d5cc4;
  --navy: #000080;
  --fuchsia: #ff00ff;
  --purple: #800080;
  --pink: #ffc0cb;
  --nude: #ebc8b2;
  --orange: #ffa500;
  --ratings: #ffb800;
  /* social media colors */
  --facebook: #365493;
  --twitter: #3cf;
  --linkedin: #0077b5;
  --pinterest: #c8232c;
  --dribbble: #ea4c89;
  --behance: #131418;
  --google-plus: #dd4b39;
  --instagram: #e4405f;
  --vk: #3b5998;
  --wechat: #7bb32e;
  --youtube: #cb2027;
  --email: #f89a1e;
}

/* ----------------------------------------------
  Scrollbar
---------------------------------------------- */
.ltn__scrollbar {
  overflow-y: auto;
}

.ltn__scrollbar::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
  border-radius: 30px;
}

.ltn__scrollbar::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.mean-nav {
  overflow-y: auto;
}

.mean-nav::-webkit-scrollbar {
  width: 3px;
  background-color: var(--ltn__primary-color);
  border-radius: 30px;
}

.mean-nav::-webkit-scrollbar-thumb {
  background-color: var(--ltn__secondary-color);
}

/* ----------------------------------------------
    Mini Cart
---------------------------------------------- */
.ltn__mini-cart ul {
  margin: 0;
  padding: 0;
}

.mini-cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  color: var(--ltn__heading-color);
}
.mini-cart-icon i {
  font-size: 18px;
}
.mini-cart-icon sup {
  font-size: 14px;
  font-weight: 600;
}

.mini-cart-icon-2 > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 125px;
}
.mini-cart-icon-2 > a .mini-cart-icon {
  margin-right: 5px;
}
.mini-cart-icon-2 > a .mini-cart-icon i {
  color: var(--ltn__heading-color);
  font-size: 20px;
}
.mini-cart-icon-2 > a .mini-cart-icon sup {
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  width: 20px;
  line-height: 20px;
  background-color: var(--ltn__secondary-color);
  color: var(--white);
  text-align: center;
  border-radius: 100%;
  right: 8px;
  top: -8px;
}
.mini-cart-icon-2 > a h6 {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  line-height: 20px;
  font-weight: 500;
  color: var(--ltn__body-color);
  font-size: 12px;
  text-transform: uppercase;
}

.mini-cart-header h5 {
  margin-bottom: 0;
}

.mini-cart-product-area {
  max-height: calc(100% - (60px + 245px));
}

.ltn__utilize-cart-menu .ltn__mini-cart {
  max-height: calc(100% - (60px + 245px));
}

.mini-cart-item {
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-top: 1px solid var(--border-color-1);
}
.mini-cart-item:first-child {
  border-top: 0;
}

.mini-cart-img {
  float: left;
  width: 80px;
  margin-right: 15px;
  position: relative;
}

.mini-cart-img img {
  background-color: var(--section-bg-1);
}

.mini-cart-info {
  overflow: hidden;
}

.mini-cart-info h6 {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--ltn__body-color);
  font-weight: 600;
}

.mini-cart-info .mini-cart-quantity {
  font-size: 14px;
  font-weight: 400;
}

.mini-cart-item-delete {
  position: absolute;
  left: -8px;
  top: -8px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: block;
  line-height: 20px;
  background-color: #fff;
  text-align: center;
  font-size: 10px;
  -webkit-box-shadow: var(--ltn__box-shadow-3);
  box-shadow: var(--ltn__box-shadow-3);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mini-cart-item-delete:hover {
  background-color: var(--red);
  color: #fff;
}

.mini-cart-footer {
  margin-top: 25px;
}
.mini-cart-footer p {
  font-size: 14px;
  margin-bottom: 0;
}

.mini-cart-sub-total {
  border-top: 1px solid var(--border-color-1);
  border-bottom: 1px solid var(--border-color-1);
  padding: 15px 0;
}
.mini-cart-sub-total h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  font-size: 16px;
}
.mini-cart-sub-total span {
  color: #10579d;
}

.mini-cart-footer .btn-wrapper {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  padding: 25px 0 15px;
}

.mini-cart-footer .btn-wrapper .btns {
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 13px;
}

/* ----------------------------------------
  Utilize Mobile Menu
---------------------------------------- */
.ltn__utilize {
  position: fixed;
  font-family: var(--ltn__body-font);
  z-index: 1000;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  overflow: hidden;
  width: 400px;
  height: 100vh;
  padding: 20px 10px 20px 30px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: var(--white);
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 99999;
}

.ltn__utilize.ltn__utilize-mobile-menu {
  right: auto;
  left: 0;
  padding: 50px 40px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ltn__utilize-menu-inner {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -ms-touch-action: auto;
  touch-action: auto;
  overflow-x: hidden !important;
  padding-right: 20px;
}

.ltn__utilize-menu-search-form {
  margin-bottom: 30px;
  position: relative;
}
.ltn__utilize-menu-search-form input[type="text"] {
  margin-bottom: 0;
}
.ltn__utilize-menu-search-form button {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  padding: 0 15px;
}

.ltn__utilize-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ltn__utilize-menu > ul > li {
  position: relative;
}

.ltn__utilize-menu > ul > li .menu-expand {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 24px;
  height: 44px;
  cursor: pointer;
  background-color: transparent;
}

.ltn__utilize-menu > ul > li .menu-expand::before,
.ltn__utilize-menu > ul > li .menu-expand::after {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 7px);
  width: 14px;
  height: 2px;
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  background-color: #7e7e7e;
}

.ltn__utilize-menu > ul > li .menu-expand::after {
  -webkit-transform: rotate(90deg) scale(0.75);
  -ms-transform: rotate(90deg) scale(0.75);
  transform: rotate(90deg) scale(0.75);
}

.ltn__utilize-menu > ul > li > a {
  display: block;
  padding: 8px 24px 8px 0;
  text-transform: uppercase;
}

.ltn__utilize-menu > ul > li .sub-menu {
  position: static;
  top: auto;
  display: none;
  visibility: visible;
  width: 100%;
  min-width: auto;
  padding: 0;
  padding-left: 15px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ltn__utilize-menu > ul > li .sub-menu li {
  line-height: inherit;
  position: relative;
  list-style: none;
}

.ltn__utilize-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.ltn__utilize.ltn__utilize-open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.ltn__utilize.ltn__utilize-mobile-menu.ltn__utilize-open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mobile-menu-toggle {
  margin-right: 15px;
}

.mobile-menu-toggle > a {
  width: 24px;
  height: 32px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  margin-left: auto;
}

.mobile-menu-toggle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 60px;
  margin-top: -2px;
  margin-left: -2px;
  cursor: pointer;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.mobile-menu-toggle svg path {
  -webkit-transition: stroke-dashoffset 0.5s
      cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
    stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  fill: none;
  stroke: #333;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 30px;
}

.mobile-menu-toggle svg path#top,
.mobile-menu-toggle svg path#bottom {
  stroke-dasharray: 240px 950px;
}

.mobile-menu-toggle svg path#middle {
  stroke-dasharray: 240px 240px;
}

.mobile-menu-toggle .close svg path#top,
.mobile-menu-toggle .close svg path#bottom {
  stroke-dasharray: -650px;
  stroke-dashoffset: -650px;
}

.mobile-menu-toggle .close svg path#middle {
  stroke-dasharray: 1px 220px;
  stroke-dashoffset: -115px;
}

.ltn__utilize-menu-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.ltn__utilize-menu-head .ltn__utilize-menu-title {
  font-weight: 500;
  text-transform: uppercase;
}
.ltn__utilize-menu-head .ltn__utilize-close {
  background-color: transparent;
  font-size: 30px;
  padding: 0 15px;
  border: none;
}

.ltn__utilize-buttons {
  border-top: 1px solid var(--border-color-1);
  padding: 5px 0px 20px;
  margin: 30px 0;
  border-bottom: 1px solid var(--border-color-1);
}
.ltn__utilize-buttons ul {
  padding: 0;
  margin: 0;
}
.ltn__utilize-buttons ul li {
  display: inline-block;
}
.ltn__utilize-buttons .utilize-btn-icon {
  width: 50px;
  display: inline-block;
  height: 50px;
  border: 2px solid var(--border-color-1);
  line-height: 46px;
  text-align: center;
  margin-right: 10px;
}

.ltn__utilize-buttons-2 ul li {
  display: block;
}

@media (max-width: 479px) {
  .ltn__utilize {
    width: 300px;
    padding: 15px 10px 15px 30px;
  }
  .ltn__utilize-menu-head {
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  .mini-cart-footer .btn-wrapper {
    padding: 20px 0 10px;
  }
  .ltn__utilize.ltn__utilize-mobile-menu {
    padding: 50px 20px;
  }
}

.menu-btn-white.mobile-menu-toggle > a {
  color: #fff;
}

.menu-btn-white.mobile-menu-toggle svg path {
  stroke: #fff;
}

.menu-btn-border a {
  width: 40px;
  height: 38px;
  border: 1px solid;
}

/* ---------------------------------------
    ## Button
--------------------------------------- */
.btn-wrapper {
  display: block;
  margin-top: 30px;
}

.btns {
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ltn__heading-font);
  padding: 13px 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 1;
  margin-right: 15px;
}
.btns:last-child {
  margin-right: 0;
}

.theme-btn-1 {
  background-color: var(--ltn__secondary-color);
  color: var(--white);
}
.theme-btn-1:hover {
  background-color: var(--ltn__primary-color);
  color: var(--white);
}

.theme-btn-2 {
  background-color: #10579d;
  color: var(--white);
}
.theme-btn-2:hover {
  background-color: #faaf3f;
  color: var(--white);
}

.theme-btn-3 {
  background-color: transparent;
  border: 2px solid var(--border-color-9);
}
.theme-btn-3:hover {
  background-color: var(--ltn__secondary-color);
  border-color: var(--ltn__secondary-color);
  color: var(--white);
}

.reverse-color {
  background-color: var(--ltn__secondary-color);
}
.reverse-color:hover {
  background-color: var(--ltn__primary-color);
}

.btn-white {
  background-color: var(--white);
  color: var(--ltn__primary-color);
  -webkit-box-shadow: var(--ltn__box-shadow-3);
  box-shadow: var(--ltn__box-shadow-3);
}
.btn-white:hover {
  background-color: var(--ltn__secondary-color);
  color: var(--white);
}

.btn-black {
  background-color: var(--black);
  color: var(--white);
}
.btn-black:hover {
  background-color: var(--ltn__secondary-color);
  color: var(--white);
}

.btn-transparent {
  background-color: transparent;
  -webkit-box-shadow: var(--ltn__box-shadow-3);
  box-shadow: var(--ltn__box-shadow-3);
  border-color: #ddd;
}
.btn-transparent:hover {
  background-color: var(--ltn__secondary-color);
  color: var(--white);
}

.btn-round {
  border-radius: 50px;
}

.btn-opacity-6 {
  opacity: 0.6;
}
.btn-opacity-6:hover {
  opacity: 1;
}

.btn-opacity-7 {
  opacity: 0.7;
}
.btn-opacity-7:hover {
  opacity: 1;
}

.btn-opacity-8 {
  opacity: 0.8;
}
.btn-opacity-8:hover {
  opacity: 1;
}

.btn-opacity-9 {
  opacity: 0.9;
}
.btn-opacity-9:hover {
  opacity: 1;
}

.btns:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-effect-1:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--white);
}

.btn-effect-1:hover {
  color: var(--ltn__heading-color);
}
.btn-effect-1:hover::after {
  width: 100%;
}

.btn-effect-2:after {
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--white);
}

.btn-effect-2:hover {
  color: var(--ltn__heading-color);
}
.btn-effect-2:hover::after {
  width: 100%;
}

.btn-effect-3:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--ltn__primary-color);
}

.btn-effect-3:hover {
  color: var(--white);
}
.btn-effect-3:hover::after {
  width: 100%;
}

.btn-effect-4:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--ltn__secondary-color);
}

.btn-effect-4:hover {
  color: var(--white);
}
.btn-effect-4:hover::after {
  width: 100%;
}

.btn-full-width {
  display: block;
}

.btn-border {
  border: 2px solid var(--border-color-10);
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .btns {
    padding: 12px 25px;
  }
  [type="submit"].btns {
    padding: 15px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .btns {
    padding: 10px 20px;
    font-size: 14px;
  }
  [type="submit"].btns {
    padding: 12px 30px;
  }
}
