.widget-title {
  font-size: 25px;
  color: #333333;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
}
.widget-title:after {
  position: absolute;
  content: "";
  bottom: -20px;
  height: 2px;
  width: 50px;
  left: 0;
  background-color: #17d0cf;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 555;
}
.popup ul li {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(32, 191, 240, 0.3);
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkout-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
@media only screen and (max-width: 600px) {
  
  form {
      max-width: 80%;
      transform: translateY(-150px);
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-height: 80vh;
      overflow-y: scroll;
    }
}
/* keranjang buku */
#cart-header {
  visibility: visible;
}

#cart-header button {
  width: 88px;
  height: 30px;
  transform: translateY(-4.5px);
  background: transparent;
  padding: 0px;
  border: none;
  outline: none;
  box-shadow: none;
}

#cart-header i {
  color: #10579D;
  font-size: 20px;
}

.side-bar-widget {
  visibility: visible;
}
@media only screen and (max-width: 600px) {
  #cart-header{
    visibility: visible;
  }
  #cart-header button{
    width: 100px;
      height: 30px;
      background: transparent;
      padding: 0px;
      transform: translateY(0.5px);
      border: none;
      outline: none;
      box-shadow: none;
  }
  #cart-header i{
    color: #10579D;font-size:20px;
  }
  .side-bar-widget{
    visibility: hidden;
  }
}
/* end keranjang */
.checkout-form button {
  background-color: rgb(62, 116, 251);
  color: #fff;
  border: none;
  outline: none;
  height: 45px;
  padding: 0px 10px;
  border-radius: 3px;
  margin-left: 10px;
}
#checkoutclose {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 3px;
  cursor: pointer;
}
#checkoutForm {
  margin-top: 25vh;
}
.footer-form {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.shop-product-section {
  margin-top: 80px;
}
.tp-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: inset 0px 1px 0px 0px #006a4e;
  background: linear-gradient(to bottom, #0f61a8 5%, #0b2b6a 100%);
  background-color: #009961;
  line-height: 1;
  text-align: center;
  padding: 15px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  border: none;
  outline: none;
}
.tp-btn-small {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: inset 0px 1px 0px 0px #006a4e;
  background: linear-gradient(to bottom, #0f61a8 5%, #0b2b6a 100%);
  background-color: #009961;
  line-height: 1;
  text-align: center;
  padding: 0px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  border: none;
  outline: none;
}
body input[type="text"],
body input[type="number"],
body input[type="tel"],
body input[type="password"],
body input[type="email"],
body textarea {
  background: #ffffff;
  /* border: 1px solid #eaedff; */
  border: 1px solid rgba(32, 191, 240, 0.3);
  border-radius: 8px;
  height: 45px;

  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.close-btn {
  outline: none;
  border: none;
  background: transparent;
  float: right;
  transform: translateY(-40px);
}
.close-btn-flip {
  float: right;
  outline: none;
  border: none;
  background: transparent;
  margin: 5px;
}

.fa.fa-times {
  font-size: 25px;
  color: red;
  background: transparent;
  outline: none;
  border: none;
  float: right;
  padding-right: 5px;
}
.close-btn:hover .fa.fa-times {
  font-size: 25px;
  color: red;
  background: transparent;
  outline: none;
  border: none;
  animation: close 1s linear;
  transform: rotate(0deg);
}
.popup #remove {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 50px;
}
.fa.fa-trash {
  color: red;
}
#remove:hover .fa.fa-trash {
  color: red;
  animation: trash 1s linear infinite;
  transform: rotate(0deg);
}
@keyframes trash {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes close {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

/* popup Books */
.flipbook {
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100vw;
  display: none;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book-detail-popup{
  background: #ffffff;
  display: flex;
  width: 50%;
  padding-bottom: 20px;
  border-radius: 5px;
}
.detail-popup-content{
  background-color: transparent;
  width: 50%;
  height: 100%;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .flipbook {
      background-color: rgb(0, 0, 0, 0.5);
      height: 100%;
      width: 100vw;
      display: none;
      top: 0;
      right: 0;
      position: fixed;
      z-index: 999;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .book-detail-popup {
      background: #ffffff;
      display: flex;
      width: 90%;
      max-height: 80vh;
      overflow-y: scroll;
      padding-bottom: 20px;
      border-radius: 5px;
    }
    .product-content{
      padding-bottom: 30px;
    }
}
.detail-popup-content h5{
  margin-top: 40px;
}
.detail-popup-img{
  width: 50%;
  height: 100%;
}
.detail-popup-img img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
/* End Flipping Books */

.hero {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #fafaf5;
  padding-top: 120px;
  font-family: Montserrat;
}
.hero-pagination {
  margin-top: 30px;
}
.hero-pagination .swiper-pagination-bullet {
  font-family: NunitoSans, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
.swiper-pagination-bullet {
  background: none;
}
.hero-pagination .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}
.hero-pagination .swiper-pagination-bullet-active {
  font-weight: 700;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  color: #fff;
}
.hero_about {
  margin-bottom: 80px;
}
.hero_header {
  margin-bottom: 60px;
}
.hero_header-text {
  margin: 15px 0 30px;
}
.hero_contacts-text {
  margin: 0 auto 15px;
  font-size: 14px;
  font-weight: 600;
  max-width: 255px;
}
.hero_contacts-data {
  font-size: 14px;
}
.hero_contacts-data:hover .icon {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.hero_contacts-data .icon {
  border-radius: 50%;
  background: #258f67;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hero_contacts-data .link {
  font-family: NunitoSans, sans-serif;
  font-weight: 700;
  color: #214842;
}
.hero_promo {
  position: relative;
  padding-bottom: 60px;
}
.hero_promo-underlay {
  display: block;
  position: absolute;
  width: 10000px;
  height: 10000px;
  margin: 0 -1000px;
  background: #10579d;
  left: 0;
}
.hero_slider {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  color: #fff;
}
.hero_slider-slide {
  height: auto;
}
.hero_slider-slide_media {
  height: 350px;
  margin-bottom: 10px;
  margin-top: 60px;
}
.hero_slider-slide_media img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.hero_slider-slide_main .title {
  color: inherit;
}
.hero_slider-slide_main .text {
  margin: 15px 0;
}
.hero_slider-slide_main .btn--underline {
  margin-top: 30px;
  display: inline-block;
  color: #efc368;
}
.hero_slider-slide_main .btn--underline:after {
  background: #efc368;
}
.hero_slider-slide_main .list-item {
  margin-bottom: 10px;
}
.hero_slider-slide_main .list-item:last-of-type {
  margin-bottom: 0;
}
.hero_slider-slide_main .list-item .icon {
  background: #efc368;
  border-radius: 50%;
  color: #214842;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  font-size: 12px;
}
@media screen and (min-width: 0px) {
  .hero {
    padding-top: 170px;
  }
}
@media screen and (max-width: 575.98px) {
  .hero-pagination {
    position: relative;
  }
  .swiper-pagination-bullet {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}
@media screen and (min-width: 575.98px) {
  .hero {
    text-align: left;
    padding-top: 180px;
  }
  .hero-pagination {
    position: absolute;
    right: 0;
    top: 60%;
    margin-top: 0;
    margin-right: 10px;
    z-index: 100;
  }
  .hero-pagination .swiper-pagination-bullet {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .hero-pagination .swiper-pagination-bullet:last-of-type {
    margin-bottom: 0;
  }
  .hero_contacts-text {
    margin: 0 0 15px;
  }
  .hero_contacts-data .icon {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .hero_slider-slide_media img {
    margin: 0;
  }
  .hero_slider-slide_main .text {
    max-width: 300px;
  }
}
@media screen and (min-width: 767.98px) {
  .hero {
    padding-top: 180px;
  }
  .hero-pagination {
    top: 50%;
  }
  .hero_promo {
    padding-bottom: 90px;
  }
  .hero_promo-underlay {
    top: 0;
  }
  .hero_slider {
    padding-top: 80px;
  }
  .hero_slider-slide_media {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    width: 193px;
  }
  .hero_slider-slide_media img {
    margin: 0;
    height: auto;
    margin-top: 30px;
  }
}
@media screen and (min-width: 991.98px) {
  .hero-pagination {
    top: 50%;
  }
  .hero_header-title {
    font-size: 56px;
    line-height: 1.2;
    text-align: start;
  }
  .hero_promo-underlay {
    top: 0;
  }
  .hero_slider {
    padding-top: 140px;
  }
  .hero_slider-slide_media {
    margin-right: 40px;
    width: 250px;
    height: unset;
  }
  .hero_slider-slide_media img {
    width: 100%;
    height: auto;
  }
  .hero_slider-slide_main .text {
    margin: 15px 0 30px;
  }
  .hero_slider-slide_main .list-item {
    margin-bottom: 15px;
  }
  .hero_slider-slide_main .btn--underline {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1199.98px) {
  .hero {
    padding-top: 210px;
  }
  .hero_about {
    margin-bottom: 140px;
  }
  .hero_header-title {
    max-width: 500px;
  }
  .hero_header-text {
    max-width: 408px;
  }
  .hero-pagination {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .hero_promo-underlay {
    margin: -1000px 35px;
  }
  .hero_promo-underlay--highlight {
    background: -o-linear-gradient(
      315deg,
      rgba(205, 223, 210, 5e-5) 11%,
      rgba(158, 188, 166, 0.25) 79%
    );
    background: linear-gradient(
      135deg,
      rgba(205, 223, 210, 5e-5) 11%,
      rgba(158, 188, 166, 0.25) 79%
    );
    -webkit-filter: blur(135px);
    filter: blur(135px);
    width: 545.97px;
    height: 693px;
    position: absolute;
    right: -70%;
    top: 70%;
  }
  .hero_slider {
    overflow: visible;
    padding-top: 0;
    margin-top: 0;
  }
  .hero_slider-slide:not(.swiper-slide-visible) {
    opacity: 0;
  }
  .hero_slider-slide_media {
    position: absolute;
    left: -124px;
    margin-right: 0;
    width: 300px;
    height: 100%;
    top: -30%;
  }
  .hero_slider-slide_media img {
    width: 100%;
    margin-top: 70px;
  }
  .hero_slider-slide_main {
    margin-left: 190px;
  }
}
@media screen and (min-width: 1399.98px) {
  .hero_promo-underlay {
    margin: -1000px 0;
  }
  .hero_slider-slide_media {
    left: -206px;
    max-width: 400px;
    height: 720px;
    top: -53%;
    width: 100%;
  }
  .hero_slider-slide_media img {
    max-height: 720px;
    width: auto;
    margin-top: 110px;
  }
  .hero_slider-slide_main {
    margin-left: 250px;
  }
}

.hero_header-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 900;
}
h2 {
  font-size: 30px;
  line-height: 1.3;
}
h2 {
  font-weight: 800;
}

.hero_header-title,
h2 {
  font-family: NunitoSans, sans-serif;
  color: #10579d;
}

@media screen and (min-width: 767.98px) {
  .hero_header-title {
    font-size: 40px;
  }
}

@media screen and (min-width: 991.98px) {
  .hero_header-title {
    font-size: 56px;
    line-height: 1.2;
  }

  h2 {
    font-size: 36px;
    line-height: 1.2;
  }
}

.hero_header-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: #10579d;
  color: #ffffff;
  border-radius: 24px;
  padding: 0 25px;
  font-family: NunitoSans, sans-serif;
  font-weight: 700;
  font-size: 17px;
  height: 48px;
}
.hero_header-btn:focus,
.hero_header-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #10579d;
  color: #ffffff;
}

.btn--underline {
  color: #258f67;
  font-family: NunitoSans, sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 5px;
}
.btn--underline:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #258f67;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.btn--underline:focus:after,
.btn--underline:hover:after {
  -webkit-animation: 0.5s ease-in-out underline;
  animation: 0.5s ease-in-out underline;
}
/* plus minus btn */
.valuenum{
  display: flex;
  align-items: center;
}
.valuenum input[type="number"]::-webkit-inner-spin-button,
.valuenum input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.valuenum button{
  background-color: transparent;
  outline: none;
  border: none;
}
.valuenum i{
  color: rgb(250, 175, 63);
}
.valuenum input[type="number"]{
      background: transparent;
      color: rgb(250, 175, 63);
      text-align: center;
        /* border: 1px solid #eaedff; */
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(250, 175, 63);
        border-radius: 0px;
        height: 45px;
        padding: 0 0 0 0px;
        width: 100%;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
}
/* end plus minus btn */